th {
    background-color:bisque

}
td {
    background-color: antiquewhite;
}
h1 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
html {
    
    background-color: black;
}
h1 {
    color: white;
}
.yea {
    background-color: blanchedalmond;
    border-style: ridge;
    border-width: 5px;
    padding: 10px;
}
img {
    border-style: ridge;
    border-width: 5px;
}
footer {
    background-color: blanchedalmond;
    border-style: ridge;
    border-width: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form {
    background-color: orange;
    border-style: ridge;
    border-width: 5px;
    padding: 10px;
}
button {
    border-style: inset;
    border-width: 3px;
    margin-top: 5px;
    margin-bottom: 5px;

}
a {
    font-size: large;
}
p {
    color: antiquewhite;
}